#wrapper {
    max-width: 70%;
}
/*Home Page*/
/*Home grid*/
#delorean_text {
    font-size: 1.25em;
}

#delorean_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
}

#delorean_reviews {
    grid-area: 1/2/2/3;
}
#delorean_reviews li {
    font-size: 1.2em;
}

/*Delorean Section*/
#delorean_image {
    width: 100%;
    padding-top: 1em;
    grid-area: 1/1/4/3;
}

#delorean_button {
    grid-area: 2/1/3/2;
    width: 12.5em;
    justify-self: left;
    font-size: 1em;
    margin-top: 1em;
    margin-left: 50px;
}
/*End Home Page Rules*/

/* Vehicle Information */
#inv-display {
    gap: 2.5%;
}

#details-main {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.thumbnails img {
    max-width: 85%;
    
}

.thumbnails img:hover {
    max-width: 90%;
}